.btn {
  display: inline-flex;
  padding: 8px 16px 7px 14px;

  color: $color-default-white;
  font-weight: 400;
  font-size: 20px;

  background-color: $color-3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;

  transition: opacity $trans-default;

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }

  @include vp-1199 {
    font-size: 1.65vw;
  }
}
