.intro {
  display: grid;
  grid-template-columns: 33.33% 50.43% 13.68%;
  row-gap: 15px;
  column-gap: 1.28%;
  margin: 0;
  padding: 0;
  list-style: none;

  background-color: $color-5;

  @include vp-1199 {
    row-gap: 1.25vw;
  }

  li {
    position: relative;
    height: 198px;
    color: $color-default-white;
    background-color: $color-4;

    &::after {
      content: attr(data-number);
      position: absolute;
      top: 50%;
      left: 50%;

      font-size: 53px;
      text-align: center;

      transform: translate(-50%, -50%);

      @include vp-1199 {
        font-size: 4.4vw;
      }
	  }

    &:nth-child(4) {
      grid-column: span 2;
    }

    @include vp-1199 {
      height: 16.5vw;
    }
  }
}
