mixin header(headerMods, currentUrl)
  - const text = 'Open pop-up button';

  header.header(class=headerMods)
    .header__wrapper
      a.btn.header__button(href="#openModal", aria-label="Открыть попап") !{text}
