mixin modal(mods)
  .modal.modal--preload(class=mods)&attributes(attributes)
    .modal__wrapper
      .modal__overlay(data-close-modal)
      .modal__content
        if block
          block
        a.modal__close-btn(href="#close", title="close", aria-label="Закрыть попап") X
        p Pop-up
